<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Backend</title>
</head>
<body>
	<h1>Admin Backend</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, esse excepturi maiores consequuntur, totam minima debitis labore odio nesciunt, atque nobis deserunt aspernatur accusantium officia id vero quam quas ad.</p>
</body>
</html>