<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= pageVars.title %>
	</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<header>
			<h1>
				<%= pageVars.mainHeading %>
			</h1>
		</header>
		<main>
			<%- pageVars.content %>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>First name</th>
							<th>Last name</th>
							<th>E-Mail</th>
							<th>Gender</th>
							<th>Country</th>
						</tr>
					</thead>
					<tbody>
						<% customers.forEach((customer) => { %>
							<tr>
								<td><%= customer.first_name %></td>
								<td><%= customer.last_name %></td>
								<td><%= customer.email %></td>
								<td><%= customer.gender %></td>
								<td><%= customer.country %></td>
							</tr>
						<% }); %>
					</tbody>
				</table>
		</main>
	</div>
</body>

</html>