<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= pageVars.title %></title>
</head>
<body>
	<h1><%= pageVars.mainHeading %></h1>
	<time datetime=""><%= date %></time>
	<%- pageVars.content %>
</body>
</html>