<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shop</title>
</head>
<body>
	<h1>Welcome to our shop</h1>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit quos sequi dignissimos tenetur perferendis perspiciatis illum nobis deserunt praesentium, consequatur minima voluptas ipsam sit repellat amet! Incidunt nobis ratione nostrum?</p>
</body>
</html>